*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #141414;
    color: #fff;
}

.container{
    width: 90%;
    margin: 0;
}

header{
    background-color: #111;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 1000;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

.nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav a{
    text-decoration: none;
    color: #fff;
    transition: color 0.03s;
}

.nav a:hover{
    color: #6e1010;
}

.hero{
    background-image: url("https://okdiario.com/img/2022/09/02/turno-de-dia-netflix-655x368.jpg");
    padding-top: 100px;
    display: flex;
    height: 90vh;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
}

.hero h1{
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p{
    font-size: 20px;
    margin-bottom: 20px;
}

.btn_ir{
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
}

.gallery{
    padding: 50px 0;
}

.gallery h2{
    font-size: 28px;
    margin-bottom: 20px;
}

.content_grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    gap: 20px;
}

.content_item img{
    width: 100%;
    border-radius: 5px;
}
